@import '_colors.scss';

.historyContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.historyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.historyCard {
  align-items: center;
  border: 2px solid $primary-button;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 0 10px;
  padding: 15px;
  white-space: pre-line;
  width: 45%;
}

.input {
  border: 1px solid $primary-button;
  border-radius: 15px;
  margin: 0 0 10px;
  width: 40%;
}

.deleteButton {
  background-color: $error !important;
  margin: 0 5px;
}

.cardText {
  font-size: 16px;
  padding: 5px;
  width: 50%;
}
